.Navigation {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;

    .description {
        display: flex;
        align-items: center;
        width: 100%;
    }

    .back-button {
        font-size: 32px;     
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        width: 50px;
        cursor: pointer;

        &:before {
            font: 35px arial, sans-serif;
            content: "<";
            transform: translate3d(-3px, 0, 0);
        }
    }
}